* {
    display: inline-block;
    justify-content: center;
    margin: auto;
}

.container {
    width: 600px;
    height: 1000px;
    border: 5px solid #000;
    background: #9C1806;
    margin-left: 500px;
}

.main-title {
    width: 350px;
    height: 70px;
    background: #EB3030;
    color: #000;
    display: flex;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 40px;
    border-radius: 50px 0 50px 0;
    }

.main-info {
    width: 300px;
    height: 56px;
    background: #EB3030;
    display: flex;
    width: 295px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 80px;
    border-radius: 50px 0 50px 0;
    }

.info {
    width: 520px;
    height: 50px;
    border: 5px solid #17A70B;
    background: #F5F5F5;
    color: #000;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;   
    margin-left: 30px;
    margin-bottom: 20px;
    }

.select {
    width: 535px;
    height: 60px;
    border: 5px solid #17A70B;
    background: #F5F5F5;
    color: #000;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;   
    margin-left: 29px;
    margin-bottom: 20px;
}

.label {
    width: 533px;
    height: 30px;
    background: #EB3030; 
    color: #000;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    border: none;
    margin-left: 30px;
    }

.info--message {
    width: 520px;
    height: 144px;
    border: 5px solid #17A70B;
    background: #F5F5F5;
    color: #000;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;  
    margin-left: 30px;
    }

.button {
        width: 180px;
        height: 50px;
        border: 5px solid #17A70B;
        background: #EB3030;
        color: #000;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 80px;
        margin-left: 200px;
        border-radius: 50px 0 50px 0;
}     